.elliptic-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid green;
    font-weight: bold;
    color: green;
    background-color: white;
    font-size: 10px;
    width:70px
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-right: 2px;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.nav-tabs .nav-link:not(.active):hover {
    border-color: #dee2e6;
}