.login-container-fluid {
    padding: 0;
}
.login-container-fluid .col-md-6 {
    padding: 0;
    overflow: hidden;
}
.left-half {

    width: 800px;
    height:90vh;
}

.login-container {
    background-color: #fffffd;
    padding: 200px;
    border-radius: 20px;
}

.login-title {
    text-align: center;
    padding: 20px;
}

.login-forget-password {
    text-align:end;
}

.login-forget-password a{
    color: #aeaeae;
}

.login-button {
    background-color: #96aeeb;
    border: none;
}

.login-signup {
    margin-top: 80px;
    text-align: center;
    color: #aeaeae;
}

.login-signup a{
    color: #999898;
}
