.home{
    position: relative;
    padding: 0;
    height: calc(100vh - 40px);
}
.home .search{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:320px;
    border-radius: 10px 0 0 0;
    background-color: rgba(255, 255, 255, 0.8); /* 这里是半透明的红色背景 */
    z-index: 999;
}
.home .maps {
    width: 100%;
    text-align: center;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.home .maps>div{
    border-radius: inherit;
}